cron-descriptor==1.2.24
crontab==0.23.0
Django==3.2.8
ethtools==1.0.7
ipaddr==2.2.0
netifaces==0.10.4
Pillow==7.0.0
psutil==5.8.0
psycopg2-binary==2.9.1
PyMySQL==1.0.2
pytz==2019.3
reportlab==3.5.34
sysstat==0.1
